Body{
    background-color: aqua;
    color: purple;
}

Nav{ 
    Padding : 5px;
    line-height: 30px;
}

Footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

Header{
    text-align: center;
}

#memeimage{
    margin-right: 250px;
    width: 250px;
    height: 250px;
}