Body{
    background-color: aqua;
    color: purple;
}

Nav{ 
    Padding : 5px;
    line-height: 30px;
}

Footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

Header{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 25%;
}
.myImgClass{
    width: 150px;

}

#memeimage{
    width: 150px;
}