Body{
    background-color: aqua;
    color: purple;
}

Nav{ 
    Padding : 5px;
    line-height: 30px;
}

nav a{
    text-decoration: none;
    background-color:rgb(55, 201, 140);
    color: black;
    padding: 10px 20px;
    /* make those corners rounded ; for square corners */
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
}

Footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

Header{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 25%;
}
.myImgClass{
    width: 150px;

}

#memeimage{
    width: 150px;
}

/* table styles */
 table{
            max-width: 400px;
            /* multiple borders in the same are will collapse into single border*/
            border-collapse: collapse;
        }

        tr, th, td{
            padding:10px;
        }
        tr{
            
        }
        td{
            border: 2px solid rgb(3, 241, 114);
        }
        th{
            background-color: rgb(223, 11, 209);
            color: rgb(128, 5, 252);
            text-align: left;
}

        tr:nth-child(even){
            background-color: lightgray;
            color: navy;
        }

        tr:hover{
             background-color: rgb(244, 208, 1);
            color: rgb(252, 59, 5);
            text-align: left;
        }